<% @link_search_result.each do |link| %>
  <div class="flex-item-search">
    <h5><%= link_to link.subject.name, [link.subject.branch, link.subject] %></h5>
      <h4>
        &nbsp;&nbsp;&nbsp;link: <%= link_to link.topic, '#' , target: "_blank" %>
        <small>
          linked by <%= link.user.name %> &nbsp;
          <small><%= time_ago_in_words(link.created_at) %> ago</small>
        </small>
      </h4>
    </div>
<% end %>
