<div>
  <div align="center" style="font-family: 'IM Fell DW Pica'; font-size:2em;">
    <b>Recent Uploads</b>
  </div>
  <br>
  <div class="flex-container-recent">
    <div id="recent-endless">
      <%= render '/home_pages/fetch_recent' %>
    </div>
  </div>
  <%= will_paginate @fetch_recent %>
</div>
