<% provide(:title, "welcome") %>
<div style="margin-top:-1.8%;">
	<% if !user_signed_in? %> <a name="top"></a> <%# user is not signed in %>
		<%= render 'home_pages/not_signed_in_page' %>
	<% elsif current_user.has_role? :admin # for admin page only if logged in %>
		<%= render 'home_pages/admin_page' %>
	<% else # if user is signed in %>
		<%= render '/home_pages/signed_in_page' %>
	<% end -%>
</div>

<!--
<div id="demo" style="background-color:black; margin-left:-2%;">
  <div class="list-group" style="padding-left:2%;margin-right:2%;">
    <a href="#" class="list-group-item active">Item 1</a>
    <a href="#" class="list-group-item">Item 2</a>
    <a href="#" class="list-group-item">Item 3</a>
    <a href="#" class="list-group-item">Item 4</a>
    <a href="#" class="list-group-item">Item 5</a>
    ...
  </div>
</div> -->

<script type="text/javascript">
	$('#demo').BootSideMenu({
		side:"left", // left or right
		autoClose:true // auto close when page loads
	});
</script>
