<% provide(:title, "search results") %>
<div class="search-page">
<br><br>
<div class="container-fluid">
	<div class="col-sm-2">
		<!-- <div class="panel panel-default search-results">
       		<div class="panel-heading">
         		Branch search result
       		</div>
	       	<div class="panel-body">
		        <%# @branch_search_result.each do |branch| %>
		          <h5><%#= branch.name %></h5>
		        <%# end %>
	       	</div>
     	</div>	 -->
	</div>

	<div class="col-sm-8">
		<div class="search-results">
       		<div>
         		Upload search result
       		</div>
       		<div class="flex-container">
		       	<div style="margin-left:-5%;">
			        <% @upload_search_result.each do |upload| %>
			        	<div class="flex-item">
				          	<h4>
					            <%= link_to upload.topic, upload.file.url , target: "_blank" %>
					            <small>
					              uploaded by <%= upload.user.name %> &nbsp; 
					              <small><%= time_ago_in_words(upload.created_at) %> ago</small>
					            </small>
				          	</h4>
			          	</div>
			        <% end %>
		       	</div>
		    </div>
     	</div>		
	</div>

	<div class="col-sm-2">
		<!-- <div class="panel panel-default search-results">
       		<div class="panel-heading">
         		Subject search Result
       		</div>
	       	<div class="panel-body">
		        <%# @subject_search_result.each do |subject| %>
		          <h5><%#= link_to subject.name, subject_path(subject) %> | <%#= subject.code %><br></h5>
		        <%# end %>
	       	</div>
     	</div> -->	
	</div>
</div>
</div>