<% provide(:title, "Meet Our Team") %>
<div class="container-fluid">
	<div style="margin-top:7%;">
		<div class="col-md-4 team_1">
			<div align="center">
				<%# image_tag("sakshi", size: "200x300") %>
				<br>
				<p align="center">
					<h4>
						<a href="#">Sakshi Jaiswal</a><br>
						facebook: @sakshi.jaiswal.92<br>
						Twitter: @k_jayant<br>
					</h4>
				</p>
			</div>
			<br>
			<div class="clearfix"></div>
		</div>

		<div class="col-md-4 team_2">
			<div align="center">
				<%# image_tag("jayant", size: "200x300") %>
				<br>
				<p align="center">
					<h4>
						<a href="#">Jayant Kumar</a><br>
						facebook: @jay2452<br>
						Twitter: @k_jayant<br>
					</h4>
				</p>
			</div>
			<br>
			<div class="clearfix"></div>
		</div>

		<div class="col-md-4 team_3">
			<div align="center">
				<%# image_tag("amritesh", size: "200x300") %>
				<br>
				<p align="center">
					<h4>
						<a href="#">Amritesh Chandan</a><br>
						facebook: @amritesh.chandan<br>
						<!-- Twitter: @k_jayant<br> -->
					</h4>
				</p>
			</div>
			<br>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
