/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require social-share-button
 *= require_self
 *= require normalize
 *= require BootSideMenu
 *= require chosen
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "social-share-button";

/*
html, body {
  /*background-color: #FAAC58;
  background: #136a8a; /* fallback for old browsers
  background: -webkit-linear-gradient(to left, #136a8a , #267871); /* Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to left, #136a8a , #267871); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
  font-family: 'Roboto';
  padding-top: 100px;
}
*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Courgette';
}

#notice_wrapper {
	position: absolute;
  	top: 9;
  	width: 100%;
  	z-index: 999;
  	background: rgba(135, 216, 211, 0.85);
    
  	.alert {
  		padding: 2.5rem 0;
  		text-align: center;
    	margin: 0;
    	font-size: 1.25rem;
    	font-weight: 700;
    	color: #E00B0B;
   		letter-spacing: 1px;
  	}

  	.notice {
  		padding: 2.5rem 0;
  		text-align: center;
    	margin: 0;
    	font-size: 1.25rem;
    	font-weight: 700;
    	color: #ffffff;
   		letter-spacing: 1px;
  	}
}

// before the loading of pages
.spinner-load {
  position:fixed;
  top:30%;
  left:50%;
  width: 40px;
  height: 40px;
  margin: 100px auto;
  // background-color: #333;
  // background-repeat:no-repeat;
  // background-position:center;
  z-index:10000000;

}

.cube1, .cube2 {
  background-color: rgba(212, 230, 159, 1);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/*
.login_form {
    /*margin: 10% 30% ;
    /*background-image: url("background.jpg");
    /*background-color: #194F83;
    border-radius: 10px;
    height: 110%;
    padding: 1em 2em;
    margin-left: 25%;
    margin-right: 25%;
    background: rgba(255,255,255,0.5);
}

.signup_page_main {
  /*background-color: #FAAC58;
  margin-top: -1.5%;
  min-height: 95vh;
}

.signup_page_right{
  min-height: 65vh;
  background: rgba(255,255,255,0.5);
}

.signup_left {
  height: 80vh;
}

/* unvisited link
a:link {
    /*color: #FF0000;
}

/* visited link
a:visited {
  /*color: #00FF00;
}

/* mouse over link

a:hover {
    color: blue;
    text-decoration: none;
    background: none;
}

/* selected link
a:active {
    /*color: #0000FF;
}

.search-page {
  /*background-color: #FAAC58;
  margin-top: -2%;
  /*min-height: 90vh;
}

.edit_user_page{
  background-color: #FAAC58;
  margin-top: -2%;
}

.panel.edit-container{
  background: rgba(255,255,255,0.5);
}

.nax_bar_panel{
  height: 150px;
}

.forgot_password_new{
<<<<<<< HEAD
  /*text-align: center;
}
*/


.navbar {
  border: none;
  border-radius: 0;
  background-color: rgba(212, 230, 159, 1) !important;
  margin-bottom: 0px;
  z-index: 1000;
}

/*.navbar-default {
  background-color: rgba(132, 169, 26, 0.41) !important;
}*/

/*.navbar-fixed-top {
  background-color: rgba(212, 230, 159, 1) !important;
}*/
/*.navbar.navbar-default.navbar-fixed-top {
  background-color: rgba(132, 169, 26, 0.41) !important;
}*/

.navbar-right li {
  padding-top: 15px;
  margin-left: 10px;
}

.navbar li a {
  color: #000 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
        color: #f4511e !important;
}


.brand-image {
  height: 100px;
  width: 100px;
}

.logo {
  margin-left: 50px;
  &:hover {
    background-color: rgba(0,0,0,0.0);
  }
}

.bg-grey {
  background-color: #f6f6f6;
}

.bg-theme-color {
  background-color: rgba(132, 169, 26, 0.41);
}


.signup_page_middle{
  /*background: rgba(255,255,255,0.5);*/
}
