/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require normalize
 *= require chosen
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  /*background-color: #FAAC58;*/
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #136a8a , #267871); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #136a8a , #267871); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#notice_wrapper {
	position: absolute;
  	top: 9;
  	width: 100%;
  	z-index: 999;
  	background: rgba(135, 216, 211, 0.85);

  	.alert {
  		padding: 2.5rem 0;
  		text-align: center;
    	margin: 0;
    	font-size: 1.25rem;
    	font-weight: 700;
    	color: #E00B0B;
   		letter-spacing: 1px;
  	}

  	.notice {
  		padding: 2.5rem 0;
  		text-align: center;
    	margin: 0;
    	font-size: 1.25rem;
    	font-weight: 700;
    	color: #ffffff;
   		letter-spacing: 1px;
  	}
}

.login_form {
    /*margin: 10% 30% ;*/
    /*background-image: url("background.jpg");*/
    /*background-color: #194F83;*/
    border-radius: 10px;
    height: 110%;
    padding: 1em 2em;
    margin-left: 25%;
    margin-right: 25%;
    background: rgba(255,255,255,0.5);
}

.signup_page_main {
  /*background-color: #FAAC58;*/
  margin-top: -1.5%;
  min-height: 95vh;
}

.signup_page_right{
  min-height: 65vh;
  background: rgba(255,255,255,0.5);
}

.signup_left {
  height: 80vh;
}

/* unvisited link */
a:link {
    /*color: #FF0000;*/
}

/* visited link */
a:visited {
  /*color: #00FF00;*/
}

/* mouse over link */

a:hover {
    color: blue;
    text-decoration: none;
    background: none;
}

/* selected link */
a:active {
    /*color: #0000FF;*/
}

.search-page {
  /*background-color: #FAAC58;*/
  margin-top: -2%;
  /*min-height: 90vh;*/
}

.edit_user_page{
  background-color: #FAAC58;
  margin-top: -2%;
}

.panel.edit-container{
  background: rgba(255,255,255,0.5);
}

.nax_bar_panel{
  height: 150px;
}

.forgot_password_new{
  /*text-align: center;*/
}