.main_home_page_1 , .subject_index_page{
	background-color: #FAAC58;
	/*background: white;*/
}

.main_home_page {
	height: 100vh;
	display: flex;
}

.main_about_page {
	height: 70vh;
	margin-top: -1.5%;
	background-image: url("share2.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 0.78;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
.main_how_upload_page{
	height: 73vh;
}
.main_contact_page{
	height: 7vh;
	text-align: center;
	padding-right: 10px;
}

.not_signed_middle {
	background-image: url("share1.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.not_signed_in_panel {
	opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    height: 40vh;
}

.signed_in_main_page{
	background-color: #FAAC58;
	height: 90vh;
}
.panel.uploads_section {
	background: rgba(255,255,255,0.5);
}

.panel.panel-default.search-results{
	background: rgba(255,255,255,0.6);
}