.profile_page {
	/*background-color: #FAAC58;*/
	/*margin-top: -2%;*/
	min-height: 90vh;
}

.panel.panel-default.image-container {
	background: rgba(255,255,255,0.5);
}

.panel.panel-default.preference-container{
	background: rgba(255,255,255,0.5);
}