.first_year{
	background-image: url("first_year");
	height: 50vh;
    overflow-y: scroll;
    -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 2s;
}


.cse{
	background-color: white;
	background-image: url("cse1");
	/*opacity: 0.7;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 50vh;
    overflow-y: scroll; 
}

.ee{
 	 background-color: white;
	background-image: url("ee");
	/*opacity: 0.7;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 50vh;
    overflow-y: scroll; 
}

.ei{
    background-color: white;
	background-image: url("ei1");
	/*opacity: 0.7;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 50vh;
    overflow-y: scroll; 
}

.etc{
	background-color: white;
	background-image: url("tele1");
	/*opacity: 0.7;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    max-height: 50vh;
    overflow-y: scroll; 
}	

.eee{
	background-color: white;
	background-image: url("eee");
	/*opacity: 0.7;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 50vh;
    overflow-y: scroll; 
}

.civil{
	background-color: white;
	background-image: url("civil");
	/*opacity: 0.7;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 50vh;
    overflow-y: scroll; 
}

.mechanical{
	background-color: white;
	background-image: url("mech1");
	/*opacity: 0.7;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    max-height: 50vh;
    overflow-y: scroll; 
}

.subject_show_page_nav{
    background-color: #FAAC58;
    height: 10vh;
    margin-top: -1.5%;
    padding-top: 1.5em;
}

.subject_show_page{
    background-color: #EBCCEB;
    height: 100vh;
}

.show_page_panel{
    margin-left: 18%;
    width: 60%;
}