<% provide(:title, "all uploads") %>
<div class="upload_index_page">
<br>
<div class="container">
  <p id="notice"><%= notice %></p>
   <div class="col-md-2">
     
   </div>
   <div class="col-md-8">
    <% if @uploads.count != 0 %>
      <div class="panel panel-default">
        <div class="panel-heading">
          list of all Uploads
        </div>
        <div class="panel-body" id="uploads">
          <% @uploads.each do |upload| %>
            <h3>
              <%= link_to upload.topic, upload.file.url , target: "_blank" %>
              <small>
                uploaded by <%= upload.user.name %> &nbsp; 
                <small><%= time_ago_in_words(upload.created_at) %> ago</small>
              </small>
            </h3>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="jumbotron" align="center">
        <h3><b>No Uploads</b></h3>
      </div>
    <% end -%>
   </div>
   <div class="col-md-2">
     
   </div>
</div>
</div>